@use "../globalVariables";

$button-border-width: var(--border-width-medium);
$button-height: 40px;
$button-width: $button-height;
$button-container-height: calc($button-height + (2 * $button-border-width));
