/* Specific placement of each suit icon, for each rank */
/* rank A */
.card-content.rank-A .suit-large:nth-child(1) {
    grid-column: 2;
    grid-row: 7 / span 4;
}

/* rank 2 */
.card-content.rank-2 .suit-large:nth-child(1) {
    grid-column: 2;
    grid-row: 1 / span 4;
}

.card-content.rank-2 .suit-large:nth-child(2) {
    grid-column: 2;
    grid-row: 13 / span 4;
}

/* rank 3 */
.card-content.rank-3 .suit-large:nth-child(1) {
    grid-column: 2;
    grid-row: 1 / span 4;
}

.card-content.rank-3 .suit-large:nth-child(2) {
    grid-column: 2;
    grid-row: 7 / span 4;
}

.card-content.rank-3 .suit-large:nth-child(3) {
    grid-column: 2;
    grid-row: 13 / span 4;
}

/* rank 4 */
.card-content.rank-4 .suit-large:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / span 4;
}

.card-content.rank-4 .suit-large:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 4;
}

.card-content.rank-4 .suit-large:nth-child(3) {
    grid-column: 1;
    grid-row: 13 / span 4;
}

.card-content.rank-4 .suit-large:nth-child(4) {
    grid-column: 3;
    grid-row: 13 / span 4;
}

/* rank 5 */
.card-content.rank-5 .suit-large:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / span 4;
}

.card-content.rank-5 .suit-large:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 4;
}

.card-content.rank-5 .suit-large:nth-child(3) {
    grid-column: 2;
    grid-row: 7 / span 4;
}

.card-content.rank-5 .suit-large:nth-child(4) {
    grid-column: 1;
    grid-row: 13 / span 4;
}

.card-content.rank-5 .suit-large:nth-child(5) {
    grid-column: 3;
    grid-row: 13 / span 4;
}


/* rank 6 */
.card-content.rank-6 .suit-large:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / span 4;
}

.card-content.rank-6 .suit-large:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 4;
}

.card-content.rank-6 .suit-large:nth-child(3) {
    grid-column: 1;
    grid-row: 7 / span 4;
}

.card-content.rank-6 .suit-large:nth-child(4) {
    grid-column: 3;
    grid-row: 7 / span 4;
}

.card-content.rank-6 .suit-large:nth-child(5) {
    grid-column: 1;
    grid-row: 13 / span 4;
}

.card-content.rank-6 .suit-large:nth-child(6) {
    grid-column: 3;
    grid-row: 13 / span 4;
}


/* rank 7 */
.card-content.rank-7 .suit-large:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / span 4;
}

.card-content.rank-7 .suit-large:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 4;
}

.card-content.rank-7 .suit-large:nth-child(3) {
    grid-column: 2;
    grid-row: 4 / span 4;
}

.card-content.rank-7 .suit-large:nth-child(4) {
    grid-column: 1;
    grid-row: 7 / span 4;
}

.card-content.rank-7 .suit-large:nth-child(5) {
    grid-column: 3;
    grid-row: 7 / span 4;
}

.card-content.rank-7 .suit-large:nth-child(6) {
    grid-column: 1;
    grid-row: 13 / span 4;
}

.card-content.rank-7 .suit-large:nth-child(7) {
    grid-column: 3;
    grid-row: 13 / span 4;
}

/* rank 8 */
.card-content.rank-8 .suit-large:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / span 4;
}

.card-content.rank-8 .suit-large:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 4;
}

.card-content.rank-8 .suit-large:nth-child(3) {
    grid-column: 2;
    grid-row: 4 / span 4;
}

.card-content.rank-8 .suit-large:nth-child(4) {
    grid-column: 1;
    grid-row: 7 / span 4;
}

.card-content.rank-8 .suit-large:nth-child(5) {
    grid-column: 3;
    grid-row: 7 / span 4;
}

.card-content.rank-8 .suit-large:nth-child(6) {
    grid-column: 2;
    grid-row: 10 / span 4;
}

.card-content.rank-8 .suit-large:nth-child(7) {
    grid-column: 1;
    grid-row: 13 / span 4;
}

.card-content.rank-8 .suit-large:nth-child(8) {
    grid-column: 3;
    grid-row: 13 / span 4;
}

/* rank 9 */
.card-content.rank-9 .suit-large:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / span 4;
}

.card-content.rank-9 .suit-large:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 4;
}

.card-content.rank-9 .suit-large:nth-child(3) {
    grid-column: 1;
    grid-row: 5 / span 4;
}

.card-content.rank-9 .suit-large:nth-child(4) {
    grid-column: 3;
    grid-row: 5 / span 4;
}

.card-content.rank-9 .suit-large:nth-child(5) {
    grid-column: 2;
    grid-row: 7 / span 4;
}

.card-content.rank-9 .suit-large:nth-child(6) {
    grid-column: 1;
    grid-row: 9 / span 4;
}

.card-content.rank-9 .suit-large:nth-child(7) {
    grid-column: 3;
    grid-row: 9 / span 4;
}

.card-content.rank-9 .suit-large:nth-child(8) {
    grid-column: 1;
    grid-row: 13 / span 4;
}

.card-content.rank-9 .suit-large:nth-child(9) {
    grid-column: 3;
    grid-row: 13 / span 4;
}

/* rank 10 */
.card-content.rank-10 .suit-large:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / span 4;
}

.card-content.rank-10 .suit-large:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / span 4;
}

.card-content.rank-10 .suit-large:nth-child(3) {
    grid-column: 2;
    grid-row: 3 / span 4;
}

.card-content.rank-10 .suit-large:nth-child(4) {
    grid-column: 1;
    grid-row: 5 / span 4;
}

.card-content.rank-10 .suit-large:nth-child(5) {
    grid-column: 3;
    grid-row: 5 / span 4;
}

.card-content.rank-10 .suit-large:nth-child(6) {
    grid-column: 1;
    grid-row: 9 / span 4;
}

.card-content.rank-10 .suit-large:nth-child(7) {
    grid-column: 2;
    grid-row: 11 / span 4;
}

.card-content.rank-10 .suit-large:nth-child(8) {
    grid-column: 3;
    grid-row: 9 / span 4;
}

.card-content.rank-10 .suit-large:nth-child(9) {
    grid-column: 1;
    grid-row: 13 / span 4;
}

.card-content.rank-10 .suit-large:nth-child(10) {
    grid-column: 3;
    grid-row: 13 / span 4;
}

/* rank J */
.card-content.rank-J .suit-large:nth-child(1) {
    grid-column: 2;
    grid-row: 7 / span 4;
}

/* rank Q */
.card-content.rank-Q .suit-large:nth-child(1) {
    grid-column: 2;
    grid-row: 7 / span 4;
}

/* rank K */
.card-content.rank-K .suit-large:nth-child(1) {
    grid-column: 2;
    grid-row: 7 / span 4;
}
