.card {
    width: var(--card-width);
    height: var(--card-height);
    border: var(--card-border-width) solid var(--card-edge-color);
    border-radius: var(--card-border-radius);
    text-align: center;
}
