@mixin card-transform($rotate-y, $translate-y) {
  transform: rotateX(-55deg) translateX(20px) rotateY($rotate-y) translateY($translate-y) translateZ(-30px);
}

.player-item {
  background-color: rgba(var(--secondary-color-rgb), 0.2);
  color: var(--text-color);
  padding: var(--base-padding);
  margin: var(--base-margin) 0;
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);

  &.highlighted {
    border: 2px solid var(--primary-color);
    background-color: var(--tertiary-color);
  }

  .melds-container {
    display: flex;
    gap: var(--base-margin);
    justify-content: space-between;
  }

  .hand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--card-width);
    margin: var(--base-margin) 0 0 0;
    perspective: 750px;

    .card {
      transition: transform 0.3s ease;
      @include card-transform(0deg, 0);

      &.selectable {
        cursor: pointer;
      }

      &.selected {
        @include card-transform(3deg, -30px);
      }

      &:not(:first-child) {
        margin-left: calc(var(--card-width) * -0.8);
      }
    }
  }
}
