@mixin card-transform($rotate-x, $rotate-y, $translate-y, $translate-z-multiplier) {
  transform: rotateX($rotate-x) translateX(calc(var(--card-width) / -5)) rotateY($rotate-y) translateY($translate-y) translateZ(calc(var(--card-height) * $translate-z-multiplier));
}

.player-item {
  background-color: rgba(var(--secondary-color-rgb), 0.2);
  color: var(--text-color);
  padding: var(--base-padding);
  margin: var(--base-margin) 0;
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);

  .highlight-container {
    display: flex;
    height: 22px;

    .highlight {
      width: 20px;
      height: 20px;
      background-color: var(--tertiary-color);
      border: 1px solid var(--primary-color);
      border-radius: 50%;
    }
  }

  .hand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    perspective: calc(var(--card-height) * 5);

    .card {
      transition: transform 0.3s ease;

      &.selectable {
        cursor: pointer;
      }

      &:not(:first-child) {
        margin-left: calc(var(--card-width) * -0.8);
      }
    }
  }

  .player-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--base-padding) 0;
    margin: var(--base-margin) 0;

    .username {
      flex: 1;
      text-align: left;
      width: 160px;
    }

    .score {
      flex: 1;
      text-align: right;
      width: 80px
    }
  }
}
