@use '@/assets/core/responsive/mixins' as responsive;

@mixin card-styles($baseSize, $cornerWidthFactor) {
  $bridgeRatio: calc(3.5 / 2.25);
  $bridgeHeight: $baseSize * 150;
  $bridgeWidth: calc($bridgeHeight / $bridgeRatio);
  $borderRadius: $baseSize * 10;
  $borderWidth: $baseSize * 0.3;
  $cornerWidth: $baseSize * $cornerWidthFactor;
  $cornerFontFactor: $cornerWidthFactor * 0.6;
  $cornerReadableSize: $cornerWidth * 0.8;
  $patternWidthFactor: 100 - (2 * $cornerWidthFactor);
  $patternFontFactor: calc($patternWidthFactor / 3);
  $royalCardPatternFontFactor: 2.5 * $patternFontFactor;

  $tileHeight: $baseSize * 50;
  $tileWidth: $baseSize * 50;
  $tileSuitFontSize: $baseSize * 40;
  $tileRankFontSize: $baseSize * 18;

  $iconFactor: 0.16;
  $iconHeight: $bridgeHeight * $iconFactor;
  $iconWidth: $bridgeWidth * $iconFactor;
  $iconBorderRadius: $borderRadius * $iconFactor;
  $iconBorderWidth: $borderWidth * $iconFactor;

  * {
    --card-bridge-width: #{$bridgeWidth};
    --card-bridge-height: #{$bridgeHeight};
    --card-bridge-maximum-overlap: #{$bridgeWidth - $cornerReadableSize};

    --card-border-radius: #{$borderRadius};
    --card-border-width: #{$borderWidth};

    --card-corner-width: #{$cornerWidth};
    --card-corner-indentation-size: #{$baseSize * 4};
    --card-corner-font-size: #{$baseSize * $cornerFontFactor};

    --card-pattern-font-size: #{$baseSize * $patternFontFactor};
    --card-pattern-indentation-size: #{$baseSize * $cornerWidthFactor};
    --card-royal-pattern-font-size: #{$baseSize * $royalCardPatternFontFactor};

    --card-placeholder-font-size: #{$baseSize * 18};

    --card-tile-height: #{$tileHeight};
    --card-tile-width: #{$tileWidth};
    --card-tile-small-overlap: #{$tileWidth * 0.4};
    --card-tile-large-overlap: #{$tileWidth * 0.8};
    --card-tile-suit-font-size: #{$tileSuitFontSize};
    --card-tile-rank-font-size: #{$tileRankFontSize};

    --card-icon-width: #{$iconWidth};
    --card-icon-height: #{$iconHeight};
    --card-icon-border-radius: #{$iconBorderRadius};
    --card-icon-border-width: #{$iconBorderWidth};
  }
}

@include responsive.breakpoint(large) {
  @include card-styles(1px, 20);
}

@include responsive.breakpoint(medium) {
  @include card-styles(0.8px, 25);
}

@include responsive.breakpoint(small) {
  @include card-styles(0.6px, 30);
}

$selectedFilter: invert(80%) brightness(1.5) hue-rotate(180deg);
$backgroundColor: #fffef5;
$edgeColor: #eee;
$suitSpadesColor: #282828;
$suitClubsColor: #282828;
$suitHeartsColor: #af0707;
$suitDiamondsColor: #af0707;
$backing1stColor: #001f3f;
$backing2ndColor: #d7d748;
$backing3rdColor: #5a0028;
$backing4thColor: #00465a;
