$base-size: 1px;
$width: calc($base-size * 100);
$height: calc($base-size * 150);
$border-width: calc($base-size * 0.3);
$content-border-width: calc($border-width * 2);
$border-radius: calc($base-size * 10);
$corner-font-size: calc($base-size * 12);
$pattern-font-size: calc($base-size * 20);
$corner-width: calc($base-size * 20);
$corner-indentation-size: calc($base-size * 4);
$pattern-indentation-size: calc($base-size * 20);
$selected-filter: invert(80%) brightness(1.5) hue-rotate(180deg);
$background-color: #fffef5;
$edge-color: #eee;
$suit-spades-color: #282828;
$suit-clubs-color: #282828;
$suit-hearts-color: #af0707;
$suit-diamonds-color: #af0707;
$back-1st-color: #001f3f;
$back-2nd-color: #d7d748;
$back-3rd-color: #5a0028;
$back-4th-color: #00465a;
