$base-padding: 10px;
$base-margin: 10px;

$margin-tiny: $base-margin * 0.2;
$margin-half: $base-margin * 0.5;
$margin-standard: $base-margin;
$margin-double: $base-margin * 2;
$padding-half: $base-padding * 0.5;
$padding-standard: $base-padding;
$padding-double: $base-padding * 2;
