@use '@/assets/core/animation/variables' as animation;
@use '@/assets/core/color/variables' as color;
@use '@/assets/core/decorative/variables' as decorative;
@use '@/assets/core/spacing/variables' as spacing;

@property --gradientColor1 {
  syntax: '<color>';
  initial-value: transparent;
  inherits: false;
}

@property --gradientColor2 {
  syntax: '<color>';
  initial-value: transparent;
  inherits: false;
}

@property --guidanceBackgroundColor {
  syntax: '<color>';
  initial-value: transparent;
  inherits: false;
}

@property --guidanceTextColor {
  syntax: '<color>';
  initial-value: transparent;
  inherits: false;
}

@mixin drop-recipient {
  & {
    position: relative;
  }

  .guidance-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: decorative.$border-radius;
    background-color: var(--guidanceBackgroundColor);
    color: var(--guidanceTextColor);
    transition: --guidanceBackgroundColor animation.$transition-time-slower, --guidanceTextColor animation.$transition-time-slower;
    margin: decorative.$border-width-thick 0 calc(decorative.$border-width-thick * -1);
    padding: spacing.$padding-standard;
    text-align: center;
    user-select: none;
    z-index: -1;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid decorative.$border-width-thick transparent;
    border-radius: decorative.$border-radius;
    background: linear-gradient(
                    45deg,
                    var(--gradientColor1) 20%,
                    var(--gradientColor2) 20%,
                    var(--gradientColor2) 50%,
                    var(--gradientColor1) 50%,
                    var(--gradientColor1) 70%,
                    var(--gradientColor2) 70%,
                    var(--gradientColor2) 100%
    );
    background-size: 5px 5px;
    transition: border-color animation.$transition-time-slower, --gradientColor1 animation.$transition-time-slower, --gradientColor2 animation.$transition-time-slower;
    pointer-events: none;
    z-index: 1;
  }

  &.invites-drop,
  &.accepts-drop {
    .guidance-text {
      --guidanceTextColor: #{color.$text};
      --guidanceBackgroundColor: #{rgba(color.$accent, 0.75)};
      z-index: 2;
    }
  }

  &.invites-drop {
    &::before {
      border-color: rgba(color.$accent, 0.25);
      --gradientColor1: #{rgba(color.$accent, 0.25)};
      --gradientColor2: transparent;
    }
  }

  &.accepts-drop {
    &::before {
      border-color: rgba(color.$accent, 0.4);
      --gradientColor1: #{rgba(color.$accent, 0.25)};
      --gradientColor2: #{rgba(color.$accent, 0.25)};
    }
  }
}
