@use '@/assets/core/animation/variables' as animation;
@use '@/assets/core/color/variables' as color;
@use '@/assets/core/decorative/variables' as decorative;
@use '@/assets/core/spacing/variables' as spacing;
@use '@/assets/core/typography/variables' as typography;

$backgroundColor1: color.$primary;
$backgroundColor2: rgba(color.$primary, 0.985);
$backgroundTileSize: 30px;

body {
  font-family: typography.$fontFamily;
  font-size: var(--typography-font-size);
  color: color.$text;
  background: conic-gradient(
                  from 45deg,
                  $backgroundColor1 90deg,
                  $backgroundColor2 90deg,
                  $backgroundColor2 180deg,
                  $backgroundColor1 180deg,
                  $backgroundColor1 270deg,
                  $backgroundColor2 270deg
  );
  background-size: $backgroundTileSize $backgroundTileSize;
  background-attachment: scroll;
  margin: 0;
  padding: var(--spacing-padding-standard);

  &.dragging {
    overflow: hidden;
  }
}

button {
  background-color: color.$secondary;
  font-family: typography.$fontFamily;
  font-size: var(--typography-font-size);
  color: color.$text;
  border: solid decorative.$border-width-medium color.$tertiary;
  border-radius: decorative.$border-radius;
  padding: var(--spacing-padding-standard) var(--spacing-padding-double);
  cursor: pointer;
  transition: background-color animation.$transition-time-slow, box-shadow animation.$transition-time-slow, border-color animation.$transition-time-slowest;
}

button:disabled {
  background-color: color.$button-disabled-background;
  border-color: color.$button-disabled-background;
  color: color.$button-disabled-text;
  box-shadow: decorative.$box-shadow-1-very-light;
}

button:not(:disabled) {
  box-shadow: decorative.$box-shadow-3-medium;

  &:hover {
    background-color: color.$button-hover;
  }

  &:active {
    background-color: color.$button-active;
    border-color: color.$button-active;
    box-shadow: decorative.$box-shadow-2-light;
  }
}

button:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: color.$accent;
}

h1 {
  margin-bottom: var(--spacing-margin-double);
}

p {
  margin: var(--spacing-margin-standard) 0;
}

a {
  color: color.$accent;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  font-family: typography.$fontFamily;
  font-size: var(--typography-font-size);
  margin-bottom: var(--spacing-margin-standard);
  padding: var(--spacing-padding-standard);
  border: solid decorative.$border-width-medium color.$primary;
  border-radius: decorative.$border-radius;
  background-color: color.$input-background;
}
