@use '@/assets/core/color/variables' as color;
@use '@/assets/core/decorative/variables' as decorative;
@use '@/assets/core/spacing/variables' as spacing;
@use '@/assets/cards/variables' as card;

@mixin card-transform($rotate-x, $rotate-y, $translate-y, $translate-z-multiplier) {
  transform: rotateX($rotate-x) translateX(calc(var(--card-width) / -5)) rotateY($rotate-y) translateY($translate-y) translateZ(calc(var(--card-height) * $translate-z-multiplier));
}

.player-item {
  color: color.$text;
  border-radius: decorative.$border-radius;

  .player-details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .username {
      flex: 2;
      text-align: left;
      width: 160px;
    }

    .score {
      flex: 1;
    }
  }

  .highlight-container {
    display: flex;
    height: 22px;
    margin: spacing.$margin-standard 0;

    .highlight {
      width: 20px;
      height: 20px;
      background-color: color.$tertiary;
      border: solid decorative.$border-width-thin color.$primary;
      border-radius: 50%;
    }
  }

  .hand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    perspective: calc(var(--card-height) * 5);

    .card {
      &.selectable {
        cursor: pointer;
      }

      &:not(:first-child) {
        margin-left: calc(var(--card-maximum-overlap) * -1);
      }
    }
  }
}
