@use '@/assets/core/color/variables' as color;
@use '@/assets/core/decorative/variables' as decorative;
@use '@/assets/core/responsive/mixins' as responsive;
@use '@/assets/core/spacing/variables' as spacing;
@use '@/assets/cards/variables' as card;

@mixin card-transform($rotate-x, $rotate-y, $translate-y, $translate-z-multiplier) {
  transform: rotateX($rotate-x) translateX(calc(var(--card-bridge-width) / -5)) rotateY($rotate-y) translateY($translate-y) translateZ(calc(var(--card-bridge-height) * $translate-z-multiplier));
}

@mixin highlightDot($size) {
  .highlight-container {
    display: flex;
    height: $size + (2 * decorative.$border-width-thin);
    margin: var(--spacing-margin-standard);

    .highlight {
      width: $size;
      height: $size;
      background-color: color.$tertiary;
      border: solid decorative.$border-width-thin color.$primary;
      border-radius: 50%;
    }
  }
}

.player-item {
  color: color.$text;
  border-radius: decorative.$border-radius;

  .player-details {
    display: flex;
    justify-content: left;
    align-items: start;

    .left-column {
      display: flex;
      flex-direction: column;
    }

    .top-row {
      display: flex;
      flex-direction: row;
    }

    .card-count {
      align-items: center;

      .icon {
        margin-right: var(--spacing-margin-half);
      }
    }

    .highlight-container {
      margin-left: auto;
    }
  }

  @include responsive.breakpoint(large) {
    @include highlightDot(20px);
  }

  @include responsive.breakpoint(medium) {
    @include highlightDot(16px);
  }

  @include responsive.breakpoint(small) {
    @include highlightDot(12px);
  }

  .hand {
    display: flex;
    flex-direction: row;
    justify-content: start;

    &.bridge {
      flex-wrap: nowrap;
      perspective: calc(var(--card-bridge-height) * 5);
    }

    &.tile {
      flex-wrap: wrap;
    }

    .card {
      &.selectable {
        cursor: pointer;
      }

      &.bridge {
        &:not(:first-child) {
          margin-left: calc(var(--card-bridge-maximum-overlap) * -1);
        }
      }
    }
  }
}
