@use '@/assets/cards/variables' as card;

@mixin card-transform($rotate-x, $rotate-y, $translate-y, $translate-z-multiplier) {
  transform: rotateX($rotate-x) translateX(calc(card.$width / -5)) rotateY($rotate-y) translateY($translate-y) translateZ(calc(card.$height * $translate-z-multiplier));
}

.player-item {
  color: var(--text-color);
  border-radius: var(--border-radius);

  .player-details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .username {
      flex: 2;
      text-align: left;
      width: 160px;
    }

    .score {
      flex: 1;
    }
  }

  .highlight-container {
    display: flex;
    height: 22px;
    margin: var(--base-margin) 0;

    .highlight {
      width: 20px;
      height: 20px;
      background-color: var(--tertiary-color);
      border: solid var(--border-width-thin) var(--primary-color);
      border-radius: 50%;
    }
  }

  .hand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    perspective: calc(card.$height * 5);

    .card {
      &.selectable {
        cursor: pointer;
      }

      &:not(:first-child) {
        margin-left: calc(card.$width * -0.8);
      }
    }
  }
}
