/* Specific placement of each suit icon, for each rank
Depends on a 3 column, 16 row grid
*/

@mixin suit-symbol-position($rank, $positions) {
    @for $i from 1 through length($positions) {
        $position: nth($positions, $i);
        .card-content.rank-#{$rank} .suit-symbol:nth-child(#{$i}) {
            grid-column: nth($position, 1);
            grid-row: nth($position, 2);
        }
    }
}

$suit-positions: (
        2: ( (2, 1 / span 4), (2, 13 / span 4) ),
        3: ( (2, 1 / span 4), (2, 7 / span 4), (2, 13 / span 4) ),
        4: ( (1, 1 / span 4), (3, 1 / span 4), (1, 13 / span 4), (3, 13 / span 4) ),
        5: ( (1, 1 / span 4), (3, 1 / span 4), (2, 7 / span 4), (1, 13 / span 4), (3, 13 / span 4) ),
        6: ( (1, 1 / span 4), (3, 1 / span 4), (1, 7 / span 4), (3, 7 / span 4), (1, 13 / span 4), (3, 13 / span 4) ),
        7: ( (1, 1 / span 4), (3, 1 / span 4), (2, 4 / span 4), (1, 7 / span 4), (3, 7 / span 4), (1, 13 / span 4), (3, 13 / span 4) ),
        8: ( (1, 1 / span 4), (3, 1 / span 4), (2, 4 / span 4), (1, 7 / span 4), (3, 7 / span 4), (2, 10 / span 4), (1, 13 / span 4), (3, 13 / span 4) ),
        9: ( (1, 1 / span 4), (3, 1 / span 4), (1, 5 / span 4), (3, 5 / span 4), (2, 7 / span 4), (1, 9 / span 4), (3, 9 / span 4), (1, 13 / span 4), (3, 13 / span 4) ),
        10: ( (1, 1 / span 4), (3, 1 / span 4), (2, 3 / span 4), (1, 5 / span 4), (3, 5 / span 4), (1, 9 / span 4), (2, 11 / span 4), (3, 9 / span 4), (1, 13 / span 4), (3, 13 / span 4) ),
        A: ( (2, 7 / span 4), ),
        J: ( (2, 7 / span 4), ),
        Q: ( (2, 7 / span 4), ),
        K: ( (2, 7 / span 4), )
);

@each $rank, $positions in $suit-positions {
    @include suit-symbol-position($rank, $positions);
}
